$primary: #5265E1;
$secondary: #FA5959;
$danger:$secondary;

header{
    margin-bottom: 100px;
}

.bg-blue{
    height: 400px;
    width: 600px;
    right: -50px;
    bottom:0;
    border-radius: 40% 0 0 40%;
    z-index: -1;
}
@import "../node_modules/bootstrap/scss/bootstrap";
