$primary: #5265E1;
$secondary: #FA5959;
$background: #242946;
$danger:$secondary;
$navbar-light-toggler-icon-bg: url("../img/icon-hamburger.svg");
$accordion-button-icon: url("../img/icon-arrow.svg");
$accordion-button-active-color: $secondary;


@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";

//GENERAL
p{
    color:$gray-600;
}
header{
    margin-bottom: 100px;
}
.btn-danger{
    color: $white !important;
    &:hover{
        color:$secondary !important;
        background-color: $white !important;
        cursor: pointer;
    }
}    
.btn-primary:hover{
    color: $primary !important;
    background-color: $white !important;
    cursor: pointer;
}
.btn-light:hover{
    border-color: $black !important;
    cursor: pointer;
}  

#menu-top a.nav-link:hover{
    color: $secondary !important;
    cursor: pointer;
}

//TOP MENU WHEN COLLAPSED - HAMBURGER MENU

.navbar-light .navbar-toggler {
    color: transparent !important;
    border-color: transparent !important;
}  
button.navbar-toggler.collapsed{
      border-color: transparent !important;
  }
.navbar-collapse.collapse.show{
    position: absolute;
    top: 64px;
    left:0;
    background-color: rgba($background, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    
}
.close {
    background-image: url("../img/icon-close.svg") !important;
    border-color: transparent !important;
}
.top-background{
    background-color: rgba($background, 0.9)!important;
}

@media (min-width: 992px){
    #menu-top a.nav-link{
        color: $gray-800 !important;
    }
    .align-menu-right{
        justify-content: flex-end;
    }
    #menu-top ul.navbar-nav{
        margin-right: 25px;
    }
    .social{
        display: none;
        margin-top: 20%;
    }
    
 }
@media (max-width: 991.98px){
    
    #menu-top a.nav-link{
        color: $white;
        border-bottom: 1px solid $gray-300;
        padding: 20px;
    }
    a.first-item{
        border-top: 1px solid $gray-300;
    }
    #menu-top ul.navbar-nav{
        width: 90vw;
        text-align: center;
        padding-bottom: 15px;
        margin-top: 30px;
    }
    #menu-top button.btn.btn-danger {
        background: transparent;
        border-color: white;
        width: 90vw;
    }
    .social{
        display: inline-block;
        margin-top: 40px;
    }
 }

//TOP BANNER
.bg-blue{
    height: 80%;
    width: 80%;
    right: 0;
    top: 25%;
    border-radius: 40% 0 0 40%;
    z-index: -1;
}
.bg-blue-left{
    height: 80%;
    width: 90%;
    left: -50px;
    top: 25%;
    border-radius: 0 40% 40% 0;
    z-index: -1;
}
// FEATURES
.border-none{
    border-bottom: none !important;
}
button#bookmarking-tab, button#searching-tab, button#sharing-tab {
    border-bottom: 1px solid $gray-300 !important;
    color: $gray-800 !important;
    &:hover{
        color: $secondary !important;
        cursor: pointer;
    }
    &.active{
        color: $black;
        border-bottom: 4px solid $secondary !important;
    }
}
//DOWNLOAD
.card-img-top{
    width: 40% !important;
    height: auto;
}
.card-body{
    background-image: url("../img/bg-dots.svg");
    background-repeat: no-repeat;
    background-position: 50% 60%;
}
.center-card{
    width:50%;  
    margin:0 auto;
 }
@media (min-width: 992px){
    .height-up{
        height: 120%;
    }
 }
//FAQS
.accordion {
    &:first-child { border-top: 1px solid $accordion-border-color; }
    &:last-child { border-bottom: 1px solid $accordion-border-color; }

    &-button.collapsed:hover{
        color: $secondary;
        cursor: pointer;
    }

    &-button:not(.collapsed) {
        color: $black !important;
        background-color: white !important;
        box-shadow: none !important;
    
        &::after {
          background-image: escape-svg($accordion-button-active-icon);
          transform: $accordion-icon-transform;
        }
      }
      
    &-body {color: $gray-800;}
}
//FOOTER
footer{
    h6{
        color:$white;
        letter-spacing: 3px;
    }
    h3{
        color:$white;
        width: 25ch; 
        margin:0 auto;
    }
    ul{
        list-style:none;
    }   
}
.footer-bottom{
    background-color: $background;
}
.fa-facebook-square, .fa-twitter{
    font-size: 1.5rem;
    color: $white;

    &:hover{
        cursor: pointer;
        color:$secondary;
    }
}

.nav-link{
    color: $white !important;
    &:hover{
        cursor: pointer;
        color:$secondary !important;
    }
}
.center-y{
    height: 50% !important;
    margin: auto 0 !important;
}
.footer-margin-container{
    margin:0 auto !important;
}

@media (min-width: 992px){
    .footer-end{
        justify-content: end;
    }
}
@media (max-width: 991.98px){
    .footer-menu{
        flex-direction: column;
    }
    .footer-center{
        justify-content: center;
        text-align: center;
    }
    .footer-padding-img{
        padding-top: 24px;
    }
    .footer-padding-ul{
        padding-top: 12px;
        padding-left: 0 !important;
    }
    .btn-contact-footer{
        width: inherit;
        margin-top: 20px;
    }

 }
 .invalid-feedback{
    background-color: $secondary;
    color: $white !important;
    padding: 10px;
    margin-top: 0 !important;
    border-radius: 0 0 5px 5px;
 }

@import "../node_modules/bootstrap/scss/bootstrap";
