$primary: #5265E1;
$secondary: #FA5959;
$danger:$secondary;
$accordion-button-active-color: $secondary;

@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";


p{
    color:$gray-600;
}
header{
    margin-bottom: 100px;
}
//TOP BANNER
.bg-blue{
    height: 80%;
    width: 80%;
    right: -50px;
    top: 25%;
    border-radius: 40% 0 0 40%;
    z-index: -1;
}
.bg-blue-left{
    height: 80%;
    width: 90%;
    left: -50px;
    top: 25%;
    border-radius: 0 40% 40% 0;
    z-index: -1;
}
// FEATURES
.border-none{
    border-bottom: none !important;
}
button#bookmarking-tab, button#searching-tab, button#sharing-tab {
    border-bottom: 1px solid $gray-300 !important;
    color: $gray-800;
    &:hover{
        color: $secondary;
    }
    &.active{
        color: $black;
        border-bottom: 4px solid $secondary !important;
    }
}
//DOWNLOAD
.card-img-top{
    width: 40% !important;
    height: auto;
}
.card-body{
    background-image: url("../img/bg-dots.svg");
    background-repeat: no-repeat;
    background-position: 50% 60%;
}
.center-card{
    width:50%;  
    margin:0 auto;
 }
@media (min-width: 992px){
    .height-up{
        height: 120%;
    }
 }
//FAQS
.accordion {
    &:first-child { border-top: 1px solid $accordion-border-color; }
    &:last-child { border-bottom: 1px solid $accordion-border-color; }

    &-button.collapsed:hover{color: $secondary;}

    &-button:not(.collapsed) {
        color: $black !important;
        background-color: white !important;
        box-shadow: none !important;
    
        &::after {
          background-image: escape-svg($accordion-button-active-icon);
          transform: $accordion-icon-transform;
        }
      }
      
    &-body {color: $gray-800;}
}


@import "../node_modules/bootstrap/scss/bootstrap";
